div.cropperWrap { background: #000; position: relative; overflow: hidden; display: inline-block; }
div.cropperSelector { position: absolute; top: 0; left: 0;  width: 100px; height: 100px; z-index: 999; }
div.cropperSize { position: absolute; z-index: 9999; }
    div.cropperSize input { color: #000; background: none; border: 0; margin: 0; padding: 0; display: block; text-shadow: 1px 1px 1px gray; }
        div.cropperSize input:focus { outline: none; }

div.fields { margin-bottom: 10px; }
div.fields label { margin-right: 10px; }
div.fields div { display: inline-block; margin-right: 30px; padding: 5px 0; }