{% load i18n %}
<div class="inline-group">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

<div class="originals-wrap">

{% for inline_admin_form in inline_admin_formset %}
  
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

  {% for fieldset in inline_admin_form %}
  
  {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
  {% for line in fieldset %}
  
      {% for field in line %}
      <div class="originals-box">
          
            {% if inline_admin_form.original %}
                <img src="{{ inline_admin_form.original.image.url }}" />
                <div class="edit">
            {% else %}
                <div class="edit new">
                    <strong>New image:</strong>
            {% endif %}
            
                <div class="field"><span>{{ field.field }}</span></div>
            
                <div class="delete">
                    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}{% endif %}
                </div>
                
                {{ line.errors }}
            </div>
        
      </div>
      {% endfor %}
  {% endfor %}


  {% endfor %}
  {{ inline_admin_form.pk_field.field }}
  {{ inline_admin_form.fk_field.field }}
  

{% endfor %}


 <div style="clear:both;"><!-- old school style clearing. --></div>
</div>

<div class="new-bar originals"><a href="javascript:;" class="new">Add new &#43;</a></div>

</div>
